<mat-drawer-container class="navbar-container" (window:resize)="onResize($event)">
    <mat-drawer #sidenav [opened]="opened" id="menu" mode="side" style="width: 150px !important;">
        <img alt="" class="kanban-logo" src="../../assets/images/kanban-logo.png">
        <hr>
        <mat-list class="role-menu-list" (click)="changeRoute()">
            <mat-list-item *ngFor="let menuItem of menuItems" class="role-menu-list-item" [ngClass]="{'activeRoute': menuItem.path === activeRoute}">
                <mat-icon mat-list-icon>{{menuItem.icon}}</mat-icon>
                <div mat-line routerLink="{{menuItem.path}}">{{menuItem.title}}</div>
            </mat-list-item>
            <mat-list-item class="role-menu-list-item logout">
                <mat-icon mat-list-icon>meeting_room</mat-icon>
                <div (click)="logout()" mat-line>Logout</div>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <button (click)="sidenav.toggle()" id="hamburger" *ngIf="opened" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>