::ng-deep .mat-drawer-inner-container {
    background-color: #eeeeee;
}

 ::ng-deep mat-drawer-content {
    height: 100vh !important;
}

 ::ng-deep .role-menu-list {
    text-align: left;
    height: 100%;
}

 ::ng-deep .role-menu-list .role-menu-list-item {
    cursor: pointer;
    font-size: 20px !important;
}

::ng-deep .activeRoute {
    background-color: #006600;
    color: white !important;
}

 ::ng-deep .role-menu-list .role-menu-list-item:hover {
    background-color: #006600;
    transition: background-color 150ms linear;
    color: white;
}

 ::ng-deep mat-drawer .mat-drawer-inner-container {
    overflow-y: hidden !important;
    text-align: center;
    user-select: none;
}

 ::ng-deep .kanban-logo {
    width: 100px;
    margin-top: 1em;
}

 ::ng-deep .role-menu-list .role-menu-list-item.logout {
    position: absolute;
    bottom: 0;
}

 ::ng-deep ::selection {
    color: white;
    /*background: #34be5b;*/
    background: #006600;
}

#hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
    #hamburger {
        display: initial;
        position: fixed;
        z-index: 9999;
    }
}

*:focus {
    border: none;
    outline: none;
}

::ng-deep .mat-header-cell {
    background-color: #006600 !important;
    color: white;
}

::ng-deep snack-bar-container.alert-red {
    padding: 20px;
    background-color: white;
    color: red;
}

::ng-deep snack-bar-container.alert-green {
    padding: 20px;
    background-color: white;
    color: green;
}

::ng-deep .mat-stroked-button:not(.mat-button-disabled) {
    border-color: green;
}