table {
    width: 100%;
}

.example-container {
    margin-top: 5em;
}

.example-table-container {
    width: 90%;
    margin: auto;
}

.addProjectBtn {
    margin-bottom: 1em;
}

.projectTitle {
    font-size: 30px !important;
    text-align: center;
}