<div class="wrapper">
    <h1 class="userTitle">User</h1>
    <div class="userControl">
        <button mat-raised-button color="primary" class="addUserBtn" (click)="addUser('Add', null)">Add User</button>
        <mat-form-field class="searchField">
            <input matInput (keypress)="omit_special_char($event)" placeholder="Search..." [(ngModel)]="filter" />
            <mat-icon matPrefix class="prefixIcon">search</mat-icon>
        </mat-form-field>
    </div>
    <div class="userWrapper">
        <div class="userItems">
            <mat-card class="userItem" *ngFor="let user of userList | userFilter: filter">
                <!-- <div class="kanbanText"> -->
                <img mat-card-image [src]="user.profPic" alt="Photo" class="profPic">
                <mat-card-content>
                    <span *ngFor="let role of user.roleList; let i = index;">
                            <span *ngIf='i === user.roleList.length - 1'>{{role?.name}}</span>
                    <span *ngIf='i !== user.roleList.length - 1'>{{role?.name}}, </span>
                    </span>
                    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
                    <div class="userBtn">
                        <button mat-stroked-button color="primary" (click)="addUser('Edit',user)">Edit</button>
                        <!-- <button *ngIf="user.recordStatus == 1" mat-raised-button color="primary" (click)="archiveUser(user)">Archive</button>
                            <button *ngIf="user.recordStatus == 0" mat-raised-button color="primary" (click)="enableUser(user)">Enable</button> -->
                    </div>
                </mat-card-content>
                <!-- </div> -->
            </mat-card>
        </div>
    </div>
</div>