.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 90%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.userItems {
    display: inline-flex;
    padding: 0 10px;
}

.userWrapper {
    margin-top: 5em;
}

.userWrapper:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .userItems {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.userWrapper mat-card-title {
    font-weight: bold !important;
    font-size: 20px;
    margin-top: 2em;
}

.userWrapper mat-icon {
    color: #006600;
    font-size: 90px;
    width: 100% !important;
}

.userItem {
    border: 2px solid #CCCDC6;
    padding: 1em !important;
    margin-left: 1em;
    color: black;
    width: 200px;
    height: 200;
    transition: all ease 0.2s;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 10em;
}

.userItem:hover {
    background-color: #e6e6e6;
    border-bottom: 0.5em solid #006600;
    cursor: pointer;
}

.profPic {
    width: 170px;
    height: 170px;
    margin: 0 !important;
}

.userControl {
    position: fixed;
    margin-left: 2em;
    top: 10em;
}

.prefixIcon {
    vertical-align: middle;
}

.searchField {
    margin-left: 1em;
}

.userTitle {
    font-size: 30px !important;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #hamburger {
        display: initial;
        position: fixed;
    }
    .addUserBtn {
        position: initial;
    }
    .userItem {
        margin-top: 1em;
    }
}